@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .contnent-header{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-left: 40px;
    margin-top: 28px;
    margin-bottom: 28px;
    color: #2d2d2d;
    font-weight: 900;
  }
ul{
    list-style-type: none;
}
  li{
    margin-left: 40px;
    margin-bottom: 16px;;
    margin-top: 16px; 
  }

  .title{
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px; 
    color: #2d2d2d;
  }

  p{ 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #2d2d2d;
    margin-left: 32px;
  }
  a{
      text-decoration: none;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #2d2d2d;
  }
  #navigation{
      max-width: 300px;
      background-color: #F2F2F2;

  }

  #doc{
    max-width: 500px;

  }

  @media (max-width: 1024px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    #navigation{
        max-width: 100%;
        background-color: #F2F2F2;
    }
    
}